################################################################################
# rfopower.service
#
# This service unit is for systemd startup of rfopower
# By George Loyer
# after David Roth
# Licensed under GPL V2
#
################################################################################
# This configuration file is in the rfopower project at /home/pi/Projects/ekm
# Create a symlink to it from the /usr/local/lib/systemd/system directory.
# Create a symlink to it from the /etc/systemd/system directory.
################################################################################

[Unit]
Description=Runs /usr/local/bin/run-rfopower.sh
Wants=network-online.target
After=network-online.target
StartLimitIntervalSec=0
  
[Service]
Type=forking
PIDFile=/run/rfopower.pid
Restart=always
RestartSec=10
User=root
ExecStart=/usr/local/bin/run-rfopower.sh

[Install]
WantedBy=multi-user.target
